@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: #d7dcf4;
  color: #0b1028;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #162050;
  z-index: 9999;
}
header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}
header nav .nav-first-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header nav .nav-first-content .nav-book-icon {
  font-size: 5.5rem;
  color: #d7dcf4;
}
header nav .nav-first-content .nav-context {
  display: flex;
  flex-direction: column;
}
header nav .nav-first-content .nav-context .nav-context-h4 {
  color: #d7dcf4;
  font-size: 2.4rem;
  font-weight: 800;
  font-family: "Rubik", sans-serif;
}
header nav .nav-first-content .nav-context .nav-context-p {
  font-size: 1.6rem;
  color: #8695dd;
}
header nav .nav-create-btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: #d7dcf4;
  font-size: 1.6rem;
  box-shadow: 0 0 0 2px #8695dd;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
}
header nav .nav-create-btn:hover, header nav .nav-create-btn:active {
  box-shadow: none;
  background: #d7dcf4;
  color: #162050;
}
header nav .hamburger {
  display: none;
}
header nav .hamburger .burger {
  width: 48px;
  height: 3px;
  background: #d7dcf4;
  margin-bottom: 8px;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
header nav .hamburger .burger:last-child {
  margin-bottom: 0;
}

#search-section {
  padding-top: 20rem;
}
#search-section .search-section-container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
#search-section .search-section-container .search-section-h4 {
  font-size: 2.2rem;
}
#search-section .search-section-container .searchFrom {
  display: flex;
  align-items: center;
  width: 100%;
  color: #d7dcf4;
  background: #0b1028;
}
#search-section .search-section-container .searchFrom .search-input-box, #search-section .search-section-container .searchFrom .search-input-box:hover, #search-section .search-section-container .searchFrom .search-input-box:active {
  font-size: 1.6rem;
  padding: 0.5rem 1rem 0.5rem 0.6rem;
  border: 2px solid #0b1028;
  outline: none;
}
#search-section .search-section-container .searchFrom .search-icon {
  font-size: 1.8rem;
  padding: 0 0.6rem;
  cursor: pointer;
}

#notes-section {
  margin-top: 6rem;
}
#notes-section .notes-section-container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8rem;
}
#notes-section .notes-section-container .note-holder {
  box-shadow: 0 0 0 2px #0b1028;
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
}
#notes-section .notes-section-container .note-holder .note-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  border-bottom: 1.5px solid #0b1028;
  padding-bottom: 1rem;
}
#notes-section .notes-section-container .note-holder .note-title .note-title-h4 {
  font-size: 2.2rem;
}
#notes-section .notes-section-container .note-holder .note-title .note-title-h4 .note--title {
  margin-left: 1rem;
  color: #162050;
}
#notes-section .notes-section-container .note-holder .note-title-arrow-icon {
  font-size: 3.2rem;
  font-weight: 700;
  cursor: pointer;
}
#notes-section .notes-section-container .note-holder .note-body {
  transition: all 0.5s ease-in-out;
  border-bottom: 1.5px solid #0b1028;
  padding-bottom: 0.8rem;
  margin-bottom: 1.2rem;
  display: none;
}
#notes-section .notes-section-container .note-holder .note-body .node-body-h4 {
  font-size: 2.2rem;
  display: flex;
  gap: 1rem;
}
#notes-section .notes-section-container .note-holder .note-body .node-body-h4 .note-body-note {
  margin-left: 1rem;
  color: #162050;
  font-size: 1.8rem;
  font-weight: 500;
}
#notes-section .notes-section-container .note-holder .footer-creation-date {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}
#notes-section .notes-section-container .note-holder .footer-creation-date .footer-p {
  font-style: italic;
  font-weight: 500;
}
#notes-section .notes-section-container .note-holder .footer-creation-date .footer-p .date-created {
  color: #364fc7;
}
#notes-section .notes-section-container .note-holder .edit-note-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
#notes-section .notes-section-container .note-holder .edit-note-delete .edit-note-icon, #notes-section .notes-section-container .note-holder .edit-note-delete .delete-note-icon, #notes-section .notes-section-container .note-holder .edit-note-delete .three-dots-icon {
  font-size: 2.2rem;
  cursor: pointer;
}
#notes-section .notes-section-container .note-holder .edit-note-delete .delete-note-icon {
  color: #a40b0b;
}
#notes-section .notes-section-container .note-holder .edit-note-delete .edit-note-icon, #notes-section .notes-section-container .note-holder .edit-note-delete .delete-note-icon {
  transition: all 0.6s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
#notes-section .notes-section-container .note-holder .edit-note-delete .showEditDeleteIcon {
  opacity: 1;
  pointer-events: all;
}

#footer-section {
  background: #0b1028;
  color: #d7dcf4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  padding: 2rem 0;
}
#footer-section .footer-section-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#footer-section .footer-section-container .footer-section-second-context a {
  color: #8695dd;
  margin-left: 1rem;
}

.noteBodyToggle.note-body {
  display: block !important;
}

@media screen and (max-width: 850px) {
  .hamburger {
    display: block !important;
    cursor: pointer !important;
  }
  .nav-second-content {
    position: fixed;
    background: #364fc7;
    width: 100%;
    height: 100%;
    top: 13%;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }
  .notes-section-container, .search-section-container {
    width: 60% !important;
  }
  .nav-create-btn {
    margin-top: -100px !important;
    font-size: 2.4rem !important;
  }
}
@media screen and (max-width: 764px) {
  .notes-section-container, .search-section-container {
    width: 80% !important;
  }
}
@media screen and (max-width: 660px) {
  .notes-section-container, .search-section-container, .footer-section-container {
    width: 95% !important;
  }
}
@media screen and (max-width: 576px) {
  nav {
    gap: 3rem !important;
    padding: 1.8rem 1.2rem !important;
  }
  .footer-section-container {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
  .search-section-container {
    flex-direction: column;
  }
  .notes-section-container {
    margin-bottom: 15rem !important;
  }
}
.onClickBurger.nav-second-content {
  opacity: 1;
  pointer-events: all;
}

.onClickBurger.burger-one {
  transform: rotate(-45deg) translate(-11px, 0);
}

.onClickBurger.burger-two {
  opacity: 0 !important;
  pointer-events: none !important;
}

.onClickBurger.burger-three {
  transform: rotate(45deg) translate(-11px, 0);
}/*# sourceMappingURL=main.css.map */