@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
$dark--one: #0b1028;
$dark--two: #162050;
$main--one: #364fc7;
$light--one: #d7dcf4;
$light--two: #8695dd;
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background: $light--one;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: $dark--two;
  & nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    & .nav-first-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      & .nav-book-icon{
        font-size: 5.5rem;
        color: $light--one;
      }
      & .nav-context{
        display: flex;
        flex-direction: column;
        & .nav-context-h4{
          color: $light--one;
          font-size: 2.4rem;
          font-weight: 800;
          font-family: 'Rubik', sans-serif;
        }
        & .nav-context-p{
          font-size: 1.6rem;
          color: $light--two;
        }
      }
    }
    // 
    & .nav-create-btn{
      display: flex;
      align-items: center;
      gap: .8rem;
      text-decoration: none;
      color: $light--one;
      font-size: 1.6rem;
      box-shadow: 0 0 0 2px $light--two;
      padding: .5rem 1rem;
      transition: all .5s ease-in-out;
    }
    & .nav-create-btn:hover,& .nav-create-btn:active{
      box-shadow: none;
      background: $light--one;
      color: $dark--two;
    }
  }
}