@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
$dark--one: #0b1028;
$dark--two: #162050;
$main--one: #364fc7;
$light--one: #d7dcf4;
$light--two: #8695dd;
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background: $light--one;
  color: $dark--one;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $dark--two;
  z-index: 9999;
  & nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    & .nav-first-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      & .nav-book-icon{
        font-size: 5.5rem;
        color: $light--one;
      }
      & .nav-context{
        display: flex;
        flex-direction: column;
        & .nav-context-h4{
          color: $light--one;
          font-size: 2.4rem;
          font-weight: 800;
          font-family: 'Rubik', sans-serif;
        }
        & .nav-context-p{
          font-size: 1.6rem;
          color: $light--two;
        }
      }
    }
    // 
    & .nav-create-btn{
      display: flex;
      align-items: center;
      gap: .8rem;
      text-decoration: none;
      color: $light--one;
      font-size: 1.6rem;
      box-shadow: 0 0 0 2px $light--two;
      padding: .5rem 1rem;
      transition: all .5s ease-in-out;
    }
    & .nav-create-btn:hover,& .nav-create-btn:active{
      box-shadow: none;
      background: $light--one;
      color: $dark--two;
    }
    & .hamburger{
      display: none;
      & .burger{
        width: 48px;
        height: 3px;
        background: $light--one;
        margin-bottom: 8px;
        border-radius: 1rem;
        transition: all .5s ease-in-out;
      }
      & .burger:last-child{
        margin-bottom: 0;
      }
    }
  }
}
// 
// 
// 
#search-section{
  padding-top: 20rem;
  & .search-section-container{
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    & .search-section-h4{
      font-size: 2.2rem;
    }
    & .searchFrom{
      display: flex;
      align-items: center;
      width: 100%;
      color: $light--one;
      background: $dark--one;
      & .search-input-box, & .search-input-box:hover, & .search-input-box:active{
        font-size: 1.6rem;
        padding: .5rem 1rem .5rem .6rem;
        border: 2px solid $dark--one;
        outline: none;
      }
      & .search-icon{
        font-size: 1.8rem;
        padding: 0 .6rem;
        cursor: pointer;
      }
    }
  }
}
// 
// 
// 
#notes-section{
  margin-top: 6rem;
  & .notes-section-container{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8rem;
    gap: 2rem;
    & .note-holder{
      box-shadow: 0 0 0 2px $dark--one;
      border-radius: .5rem;
      padding: .6rem 1.2rem;
      // 
      // NOTE TITLE
      // 
      & .note-title{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1.5rem;
        border-bottom: 1.5px solid $dark--one;
        padding-bottom: 1rem;
        & .note-title-h4{
          font-size: 2.2rem;
          & .note--title{
            margin-left: 1rem;
            color: $dark--two;
          }
        }
      }
      & .note-title-arrow-icon{
        font-size: 3.2rem;
        font-weight: 700;
        cursor: pointer;
      }
      // 
      // NOTE BODY
      // 
      & .note-body{
        transition: all .5s ease-in-out;
        border-bottom: 1.5px solid $dark--one;
        padding-bottom: .8rem;
        margin-bottom: 1.2rem;
        display: none;
        & .node-body-h4{
        font-size: 2.2rem;
        display: flex;
        gap: 1rem;
        & .note-body-note{
          margin-left: 1rem;
          color: $dark--two;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      }
      // 
      // FOOTER SECTION
      // 
     & .footer-creation-date{
      display: flex;
      justify-content: space-between;
      gap: 1.2rem;
       & .footer-p{
        font-style: italic;
        font-weight: 500;
        & .date-created{
          color: $main--one;
        }
      }
     }
     & .edit-note-delete{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      & .edit-note-icon, & .delete-note-icon, & .three-dots-icon{
        font-size: 2.2rem;
        cursor: pointer;
      }
      & .delete-note-icon{
        color: #a40b0b;
      }
      & .edit-note-icon, & .delete-note-icon{
        transition: all .6s ease-in-out;
        // display: none;
        opacity: 0;
        pointer-events: none;
      }
      & .showEditDeleteIcon{
        // display: block !important;
        opacity: 1;
        pointer-events: all;
      }
     }
    }
  }
}
// 
// 
// 
#footer-section{
  background: $dark--one;
  color: $light--one;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  padding: 2rem 0;
  & .footer-section-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    & .footer-section-second-context a{
      color: $light--two;
      margin-left: 1rem;
    }
  }
}
// 
// 
.noteBodyToggle.note-body{
  display: block !important;
}
// 
// MEDIA QUERIES
// 
@media screen and (max-width: 850px){
  .hamburger{
    display: block !important;
    cursor: pointer !important;
  }
  .nav-second-content{
    position: fixed;
    background: $main--one;
    width: 100%;
    height: 100%;
    top: 13%;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }
  .notes-section-container,.search-section-container{
    width: 60% !important;
  }
  .nav-create-btn{
    margin-top: -100px !important;
    font-size: 2.4rem !important;
  }
}
// 
@media screen and (max-width: 764px){
  .notes-section-container, .search-section-container{
    width: 80% !important;
  }
}
@media screen and (max-width: 660px){
  .notes-section-container, .search-section-container, .footer-section-container{
    width: 95% !important;
  }
}
@media screen and (max-width: 576px){
  nav{
    gap: 3rem !important;
    padding: 1.8rem 1.2rem !important;
  }
  .footer-section-container{
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
  .search-section-container{
    flex-direction: column;
  }
  .notes-section-container{
    margin-bottom: 15rem !important;
  }
}
.onClickBurger.nav-second-content{
  opacity: 1;
  pointer-events: all;
}
.onClickBurger.burger-one{
  transform: rotate(-45deg) translate(-11px, 0);
}
.onClickBurger.burger-two{
  opacity: 0 !important;
  pointer-events: none !important;
}
.onClickBurger.burger-three{
  transform: rotate(45deg) translate(-11px, 0);
}